@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
	--purple: #bb6bfc;
	--black: #03020d;
	--grey: #1e1e1e;
	--white: #e1e1e1;
	--red: #fe251b;
	--transparent: #ff000000;

	--navbarheight: 50px;
	--footerheight: 75px;

	overflow: hidden;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;

	padding: 0px;
	margin: 0px;
	border: 0px;
}

body {
	font-family: "Inter", sans-serif;

	background-color: var(--black);
	color: var(--white);
}
