@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --purple: #bb6bfc;
  --black: #03020d;
  --grey: #1e1e1e;
  --white: #e1e1e1;
  --red: #fe251b;
  --transparent: #ff000000;
  --lightgrey: #343434;
  --lightblack: #0a0a0a;

  --navbarheight: 80px;
  --footerheight: 75px;

  overflow: hidden;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;

  padding: 0px;
  margin: 0px;
  border: 0px;
}

body {
  font-family: "Inter", sans-serif;

  background-color: var(--black);
  color: var(--white);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--black);
}

::-webkit-scrollbar-thumb {
  background: var(--grey);

  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--lightgrey);
}
