.dashboard {
  display: flex;

  padding-top: calc(var(--navbarheight) + 30px);
  padding-bottom: calc(var(--footerheight) + 0px);
  padding-left: 15px;

  height: calc(100vh - (var(--footerheight) + var(--navbarheight) + 30px));
  width: 125vw;

  overflow-x: hidden;
}

.playlists {
  height: 100%;
  width: 75vw;
}

.songlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;

  gap: 10px;

  width: 100%;
}

.songtile {
  display: flex;
  flex-direction: column;
  padding: 10px;

  min-width: 150px;
  max-width: 150px;

  background-color: var(--black);
  border-radius: 15px;

  transition: background-color 0.2s;
  text-decoration: none;
  color: inherit;
}

.songtile:hover {
  background-color: var(--grey);
}

.songdetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

  padding: 10px;
}

.songname {
  font-size: 1rem;
  font-weight: bold;
}

.artists {
  font-size: 0.9rem;
  color: #aaa;
}

.tileicon {
  height: 60px;
  width: 60px;

  color: var(--purple);
}

.playicon {
  height: 45px;
  width: 45px;

  padding: 10px;
  color: var(--white);
}

.queuedsongs {
  height: 100%;
  width: 25vw;

  background-color: var(--grey);
}

.queueListitem {
  display: flex;
  align-items: left;

  background-color: var(--grey);

  transition: background-color 0.2s;

  text-decoration: none;
  color: var(--white);

  border: 1px solid var(--black);
}

.queueListitem:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.title {
  padding-left: 25px;
}

.songimages {
  height: 150px;
  width: 150px;

  border-radius: 15px;
}

.emptysongtile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 10px;

  min-height: 150px;
  max-height: 150px;
  min-width: 150px;
  max-width: 150px;

  background-color: var(--grey);
  border-radius: 15px;

  transition: background-color 0.2s;
  text-decoration: none;
  color: inherit;
}
