.dashboard {
  display: flex;

  margin-left: 20px;
  margin-top: calc(var(--navbarheight));
  margin-bottom: calc(var(--footerheight));
  padding-right: 10px;

  width: calc(100vw - 30px);

  overflow-y: scroll;
}

.playlists {
  height: min-content;
  width: 75%;
}

.songlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;

  gap: 0px;

  width: 100%;
}

.songtile {
  position: relative;

  display: flex;
  flex-direction: column;
  padding: 10px;

  min-width: 150px;
  max-width: 150px;

  background-color: var(--black);
  border-radius: 15px;

  transition: background-color 0.2s;
  text-decoration: none;
  color: inherit;
}

.songtile:hover {
  background-color: var(--grey);
}

.songdetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

  padding: 10px;
}

.songname {
  font-size: 1rem;
  font-weight: bold;
}

.artists {
  font-size: 0.9rem;
  color: #aaa;
}

.tileicon {
  height: 60px;
  width: 60px;

  color: var(--purple);
}

.playicon {
  min-height: 45px;
  min-width: 45px;
  max-width: 45px;
  max-height: 45px;

  padding: 10px;
  color: var(--white);
}

.queuedsongs {
  height: min-content;
  width: 25%;

  background-color: var(--grey);
}

.queueListitem {
  display: flex;
  align-items: left;

  background-color: var(--grey);

  transition: background-color 0.2s;

  text-decoration: none;
  color: var(--white);

  border: 1px solid var(--black);
}

.queueListitem:hover {
  background-color: var(--lightgrey);
}

.title {
  padding-left: 25px;
}

.songimages {
  height: 150px;
  width: 150px;

  border-radius: 15px;
}

.emptysongtile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 10px;

  min-height: 150px;
  max-height: 150px;
  min-width: 150px;
  max-width: 150px;

  background-color: var(--grey);
  border-radius: 15px;

  transition: background-color 0.2s;
  text-decoration: none;
  color: inherit;
}

.dashboardfavouritesbutton {
  position: absolute;
  right: 15px;
  top: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px;
  background-color: var(--lightgrey);

  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.dashboardfavouritesicon {
  height: 32px;
  width: 32px;

  color: var(--white);
  transition: 0.33s;

  cursor: pointer;
}

.dashboardfavouritesicon:hover {
  color: var(--red);
}

.dashboardfavouritesiconactive {
  color: var(--red);
}
