.musicplayer {
  display: flex;

  padding-top: calc(var(--navbarheight));
  padding-bottom: calc(var(--footerheight) + 0px);

  height: calc(100vh - (var(--footerheight) + var(--navbarheight)));
  width: 125vw;
}
