.sidepanel {
  display: flex;
  flex-direction: column;

  height: 100%;

  background-color: var(--black);
}

.section-header {
  margin: 0px;
  padding: 15px;

  font-size: 1.25rem;
  font-weight: bold;

  color: var(--white);
  background-color: var(--lightblack);

  border-bottom: 1px solid;
  border-color: var(--lightgrey);
}

.lyrics-container {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;

  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;

  background-color: var(--lightblack);
}

.trivia-container {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;

  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;

  background-color: var(--lightblack);
}

.lyrics-list {
  display: flex;
  flex-direction: column;
  gap: 15px;

  padding: 20px;

  margin-bottom: 80px;
}

.lyric-line {
  display: flex;
  flex-direction: column;
  gap: 5px;

  transition: all 0.3s ease;
  opacity: 0.6;
  padding: 0 20px;
}

.lyric-line.active {
  opacity: 1;
  transform: scale(1.05);
}

.timestamp {
  font-size: 0.8em;
  color: #888;
}

.words {
  color: #fff;
  font-size: 1.1em;
  transition: all 0.3s ease;
}

.words.active {
  color: var(--purple);
  font-weight: 500;
}

.trivia-content {
  padding: 20px;
  margin-bottom: 80px;

  font-size: 0.9rem;
  line-height: 1.5;

  color: var(--white);
}

.trivia-content p {
  margin-bottom: 1rem;
}
